[submodule "piton/design/chip/tile/ariane"]
	path = piton/design/chip/tile/ariane
	url = https://github.com/jfarresg/cva6.git
[submodule "aws"]
	path = piton/design/aws
	url = https://github.com/jfarresg/aws-fpga.git
